@model apiTechSkillPro.Models.Answer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizAttempt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizAttempt.AttemptID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.CorrectAnswer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCorrect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCorrect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnsweredAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnsweredAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AnswerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
