@model apiTechSkillPro.Models.Result

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizAttempt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizAttempt.AttemptID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObtainedMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObtainedMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttemptDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttemptDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeTaken)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
