@model apiTechSkillPro.Models.QuizRules

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>QuizRules</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegativeMarking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegativeMarking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegativeMarkValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegativeMarkValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShuffleQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShuffleQuestions)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RuleID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
