@model IEnumerable<apiTechSkillPro.Models.UserProgress>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastAttempt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttemptsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastAttempt.AttemptID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttemptsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgressID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgressID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgressID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
